h1{
    
    color: white;
    font-size: 64px;
}

.html-title{
    color: orange;
}
@charset "utf-8";
#css-title{
    color: blue;
}
/*h1,h2{
    color: blue;
}

div p{
    
    color: blue;
}
*{
    color: blue;
}*/

p {
    color: #2b546a;
    font-size: 18px;
    font-family: serif;
    font-weight: bold;
    text-decoration: underline;
    
}
body{
    
background-image: url(1128164.jpg);
    
}

