@charset "utf-8";
*{
    /*margin と padding の設定を初期化*/
    margin: 0;
    padding: 0;
}
.header{
    
    height: 60px;
    
    /*ヘッダーはブラウザの幅いっぱいまで表示されてほしいので*/
    width: 100%;
    
    /*文字を中央に表示する(縦から見て中央)*/
    /*ヘッダーのheightと同じにしないと中央に表示中央に表示されない*/
    line-height: 60px;
    
    /*ヘッダーを常に画面上部に表示*/
    position: fixed;
    top: 0;
    
    /*ヘッダーカラー*/
    background-color: tomato;
    
}
.bangou{
    
    /*左端に表示*/
    float: left;
}
.namae{
    
    /*右端に表示*/
    float: right;
}
.clear{
    
    /*floatをした後は必ずこれ以後の設定にも反映されないようにclear: both;を指定して回り込みを解除する*/
    clear: both;   
}
.meinue{
    
    /*高さ500px*/
    height: 500px;
    /*上の余白*/
    padding-top: 140px;
    /*下の余白*/
    padding-bottom: 100px;
    /*中央揃え*/
    text-align: center;
    /*背景画像*/
    background-image: url("tuika/5fcrm.jpeg");
    /*背景画像が要素のサイズに沿って表示される*/
    background-size: cover;
    /*文字色赤*/
    color: red;
    
}
.meinmidasi{
    padding-top: 200px;
    /*下の外側の余白*/
    margin-bottom: 10px;
}
.meintext{
    margin-bottom: 10px;
}
.meinsita{
    font-size: 400px;
    font-family: monospace;
    /*中央揃え*/
    text-align: center;
}
.meinsita:hover{
    background-color: orange;
    
}
