@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
.container{
    
    /*幅は最大で980px*/
    max-width: 980px;
    /*上下の余白はなし、左右に30pxずつ余白*/
    padding: 0 30px;
    
    /*この文だけだと右寄せになるが*/
    margin-left: auto;
    /*この分だけだと左寄せになるが*/
    /*上の文と下の文の二つを書くと中央寄せになる*/
    margin-right: auto;
    
}
.header{
    
    /*高さは56px*/
    height: 56px;
    /*幅は最大まで広げる*/
    width: 100%;
    /*下に影を付ける*/
    box-shadow: 0 0 10px #dddddd;
    /*ページをスクロールしてもヘッダーが常に画面上部に表示され続ける*/
    position: fixed;
    /*画面上部からの表示位置を常に0に指定*/
    top: 0;
    
}
.header-left{
    
    /*左端に表示*/
    float: left;
}
.header-right{
    
    /*右端に表示*/
    float: right;
}
/*スタイルを指定*/
.header-right a{
    
    /*文字を中央に表示する*/
    line-height: 40px;
    /*文字色を変更する*/
    color: #5a5c5f;
    /*リンクとリンクの横の間隔を少し空ける*/
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px;
}

/*カーソルを乗せたときの反応*/
.header-right a:hover{
    
    /*背景色を変更*/
    background-color: #e2f1ff;
    /*上の命令を0.5秒かけて実行するというアニメーションを追加*/
    /* アニメーションを実行する  */
    transition: background-color 0.5s;
}
.clear{
    
    /*floatをした後は必ずこれ以後の設定にも反映されないようにclear: both;を指定して回り込みを解除する*/
    clear: both;   
}
.header-logo{
    
    /*ロゴ画像が中央に表示されるように調整*/
    height: 40px;
    margin-top: 8px;
}
.footer{
    height: 120px;
    background-color: #2f3a44;
    color: #e8e8e8;
    padding-top: 20px;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
    padding-top: 50px;
}
.footer-left p{
margin-bottom: 8px;
}